{%extends 'base.html' %}

{% block head %}
<title> HOME </title>
{% endblock %}

{% block body %}
<h1> Know Harshita more... </h1>
<br>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Harshita's Details</h1>
            <p>Harshita was born on 09th November.She is highly interested in Mathematics and Technology.She has completed her 
                schooling from Agra and emerged as AIR 6th in the nation.Currently she is a third year B.Tech studen at National 
                Institute of Technology, Raipur and has CPI: 9.99 .She loves coding and reading books
            </p>
            <p>Checkout her LinkedIn profile <a href="https://www.linkedin.com/in/harshita-sharma-062956193/">HERE.</a>
            </p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">View Harshita's Posts here
                    &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}