{%extends 'base.html' %}

{% block head %}
<title> Posts </title>
{% endblock %}

{% block body %}
<h1> All of your posts </h1>
<hr>
<h2>Create New Blog Post : </h2>
<form action='/posts' method='POST'>
    Title: <input type='text' name='title' id='title'>
    <br>
    Author: <input type='text' name='author' id='author'>
    <br>
    Post: <input type='text' name='content' id='content'>
    <br>
    <input type='submit' value='POST'>
</form>
</hr>
{% for post in posts %}
<h2>{{post.title}}</h2>
{% if post.author %}

<small>Written By : {{post.author}} on {{post.date_posted}}</small>
<br>
{% else %}
<small>Written By : Anonymous on {{post.date_posted}}</small>
<br>
{% endif %}
<br>

<p>{{post.content}}</p>
<a href='/posts/delete/{{post.id}}'>Delete</a>
<a href='/posts/edit/{{post.id}}'>Edit</a>

<hr>
{% endfor %}
{% endblock %}